body {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.page-header a:hover {
  text-decoration : none;
}

.glyphicon-info-sign
 {
   color: #337ab7;
 }
.settings {
  margin-bottom: 30px;
}

.categories {
  font-size:120%;
}

.searchModes {
}

.comments {
  margin-top: 20px;
}

.createPost {
  margin-bottom: 20px;
}
